/*CardPokemons.css ------> src/components/CardPokemons/CardPokemons.css*/
/* Aplicamos estilos css con selectores de clase cuya sintaxis es .nombre del selector 
*/

.figurePokemon {
    width: 200px;
    height: 280px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
 
    /* & img especifica un selector padre en relación con un selector hijo. 
    */

    & img {
      height: 180px;
      width: 180px;
      animation: rebota 1s alternate infinite ease-in;
      transition: all 1s ease-in-out;
    }
  }
  
  .like {
    color: red;
  }
  
/* @keyframes es una regla, define cómo un elemento debe cambiar su estilo a lo largo del tiempo.
*/

  @keyframes rebota {
    100% {
      transform: translateY(5px);
    }
  }
  
  .grass {
    background-color: #229518;
  }

/*figure.grass es un selector que está seleccionando todos los elementos <figure> 
que tienen la clase grass
*/

  figure.grass {
    border: 10px solid #297c23;
  }
  
  figure.bug {
    border: 10px solid #9bc150;
  }
  .bug {
    background-color: #5e860e;
  }
  
  figure.dark {
    border: 10px solid #b29adf;
  }
  .dark {
    background-color: #49326f;
  }
  figure.dragon {
    border: 10px solid #3b91dd;
  }
  .dragon {
    background-color: #0a6dc4;
  }
  figure.electric {
    border: 10px solid #e8ce5c;
  }
  .electric {
    background-color: #e0bf2b;
  }
  
  figure.fairy {
    border: 10px solid #c376be;
  }
  .fairy {
    background-color: #ea54e0;
  }
  figure.fighting {
    border: 10px solid #ec7899;
  }
  .fighting {
    background-color: #d52e5e;
  }
  
  figure.fire {
    border: 10px solid #f6a972;
  }
  .fire {
    background-color: #ec7d2e;
  }
  
  figure.flying {
    border: 10px solid #97b1eb;
  }
  .flying {
    background-color: #8fa8dd;
  }
  figure.ghost {
    border: 10px solid #5269ac;
  }
  .ghost {
    background-color: #3653ac;
  }
  
  figure.ground {
    border: 10px solid #db8b62;
  }
  .ground {
    background-color: #d8662d;
  }
  figure.ice {
    border: 10px solid #b0f4eb;
  }
  .ice {
    background-color: #42d2bd;
  }
  figure.normal {
    border: 10px solid #a1d2f7;
  }
  .normal {
    background-color: #146cb9;
  }
  
  figure.poison {
    border: 10px solid #b17dc9;
  }
  .poison {
    background-color: #a357c6;
  }
  
  figure.psychic {
    border: 10px solid #da7b7e;
  }
  .psychic {
    background-color: #d74c51;
  }
  figure.rock {
    border: 10px solid #e5dfcd;
  }
  .rock {
    background-color: #ddbe68;
  }
  
  figure.steel {
    border: 10px solid #0f6686;
  }
  .steel {
    background-color: #65cdf3;
  }
  figure.water {
    border: 10px solid #4683c0;
  }
  .water {
    background-color: #275686;
  }