/*reseteo de la página*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}


/*#cuerpo{
    background-image: url(https://res.cloudinary.com/dlefk3lwg/image/upload/v1713108548/2imagenahorcado_x6biml.jpg); 
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo 
    background-position: center; /* Centra la imagen 
    background-repeat: no-repeat; /* Evita que la imagen se repita 
    background-attachment: fixed; /* se utiliza para que una imagen de fondo este fija mientras el contenido se desplaza.
}*/

.container{
    
    margin:auto;
    margin-top: 30px;
    max-width: 700px;
    display: flex;
    justify-content: center;

}

#info{
    flex-wrap: wrap;
    margin-top: auto;

}

#ahorcado {
    background-image: url(https://res.cloudinary.com/dlefk3lwg/image/upload/v1713091476/haorcado_s2xmdf.png);
    width: 300px;
    height: 330px;
    /*margin-top: 50px;*/
    /*margin-left: 50px;*/

   }

#titulo {
    color: rgb(187, 0, 0);
}

#hiddenWord {
    font-weight: bold;
    font-size: 2rem;
}

#texto {
    color: var(--color-texto, rgb(195, 0, 255));
    font-weight: bold;
    font-size:x-large;
}

#input{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid black;
    margin-top: 15px;
    width: calc(100% - 30px);
    max-width: 50px;
} 

#button {

    background-color: rgb(255, 64, 0);
    color : white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 15px;
}

#retryButton { background: var(--background-color, rgb(0, 140, 255));
    color : white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 15px;
    margin-left: auto;

}

#volverAJugar{
    background-color: rgb(255, 64, 0);
    color: var(--color-texto, rgb(255, 255, 255));
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 50px;
    display: none;

}

p {
    color: var(--color-texto, rgb(255, 238, 0));
  }

  @media screen and (max-width: 640px) {

   /*{ background-image: url(https://res.cloudinary.com/dlefk3lwg/image/upload/v1713108548/2imagenahorcado_x6biml.jpg);
      background-size: 120%; 
      background-size: cover;
      }*/
  }

  @media screen and (min-width: 640px) and (max-width: 1280px) {
   
       /*#cuerpo { background-image: url(https://res.cloudinary.com/dlefk3lwg/image/upload/v1713108548/2imagenahorcado_x6biml.jpg);
       /* background-size: 120%;
        background-size: cover;
     }*/
  }

     @media screen and (min-width: 1280px) {
      
          /* #cuerpo { background-image: url(https://res.cloudinary.com/dlefk3lwg/image/upload/v1713108548/2imagenahorcado_x6biml.jpg);
            /*background-size: 120%;
           background-size: cover;

          }*/
        }